In [25]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [26]:
print('#' * 20)

####################

In [27]:
len("Life is too short")

17

In [28]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year
day
weather

'Rainy'

In [ ]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [31]:
"I eat %d apples." %3

'I eat 3 apples.'

In [33]:
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

14
-1

In [35]:
a = "hobby"
a.count('b')

2

In [36]:
",".join('abcd')

'a,b,c,d'

In [37]:
a = "hi"
a.upper()

'HI'

In [ ]:
print('안녕하세요')
print(2+2)

안녕하세요
4

In [38]:
a = " hi "
a.lstrip()

'hi '

In [ ]:
1+1

2

In [40]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [44]:
a = True # Boolean 대문자
print(type(a))

b = 'aaa'
print(type(b))

c = 123
print(type(c))

d = 1.1
print(type(d))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

In [45]:
if "python":
    print("True")

if "":
    print("False")

True

In [46]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print(a)
print(b)
print(c)        
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]